h1 {
  font-family: Open Sans;
}

h2 {
  font-family: Open Sans;
}

p {
  font-family: Open Sans;
}

.section {
  width: 100%;
}

.info_container {
  width: 33%;
  float: left;
  margin-right: 10px;
}

.plot_container {
  width: 50%;
  float: left;
  margin-right: 10px;
}
