h1 {
  font-family: Open Sans;
}

h2 {
  font-family: Open Sans;
}

p {
  font-family: Open Sans;
}

.dashboard {
  width: 100%
  display: table;
}

.section {
  width: 100%;
  display: table-row;
}

.info_container {
  width: 32%;
  padding: 10px;
  display: table-cell;
}

.plot_container {
  width: 49%;
  padding: 10px;
  display: table-cell;
}
