h1 {
  font-family: Open Sans;
}

h2 {
  font-family: Open Sans;
}

p {
  font-family: Open Sans;
}

.section {
  width: 100%;
}

.info_container {
  width: 32%;
  float: left;
  padding: 10px;
}

.plot_container {
  width: 49%;
  float: left;
  padding: 10px;
}
